<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Disappearing Ninjas</title>
        <meta charset='utf-8' />
        <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
        <meta description="Disappearing Ninjas for Coding Dojo Flask fundamentals">
    </head>
    <body>
        <div id=wrapper>
            <h1>There are no ninjas here... </h1>
            <div id="ninjaimages">
                <img>
            </div>
            <div id="ninjabuttons">
                <input id="bluebutton" onclick="window.location='/blue';" class="linkbutton" type="button" value="Blue Ninja">
                <input id="redbutton" onclick="window.location='/red';" class="linkbutton" type="button" value="Red Ninja">
                <input id="orangebutton" onclick="window.location='/orange';" class="linkbutton" type="button" value="Orange Ninja">
                <input id="purplebutton" onclick="window.location='/purple';" class="linkbutton" type="button" value="Purple Ninja">
                <input id="allbutton" onclick="window.location='/ninja';" class="linkbutton" type="button" value="View All Ninjas">
            </div>
        </div>
        <footer>
            <p>by Troy Center June 2017, Coding Dojo, Flask fundamentals.</p>
        </footer>
    </body>
</html>