<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Disappearing Ninjas</title>
        <meta charset='utf-8' />
        <link rel='stylesheet' href='{{url_for("static",filename="style.css")}}'>
        <meta description="Disappearing Ninjas, All Ninjas page">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id=wrapper>
            <h1>Select your Ninja...</h1>
            <div id="ninjabuttons">
                <input id="bluebutton" onclick="window.location='/ninja/blue';" class="linkbutton" type="button" value="Blue Ninja">
                <input id="redbutton" onclick="window.location='/ninja/red';" class="linkbutton" type="button" value="Red Ninja">
                <input id="orangebutton" onclick="window.location='/ninja/orange';" class="linkbutton" type="button" value="Orange Ninja">
                <input id="purplebutton" onclick="window.location='/ninja/purple';" class="linkbutton" type="button" value="Purple Ninja">
                <input id="allbutton" onclick="window.location='/';" class="linkbutton" type="button" value="Go home...">
            </div>
            <div id="ninjaimages">
                <img>
            </div>
        </div>
        <footer>
            <p><img src="{{ url_for('static', filename='favicon.ico')}}">by Troy Center June 2017, Coding Dojo, Flask fundamentals.</p>
        </footer>
    </body>
</html>